.opinions {
  border: 1px solid;
  border-radius: 8px;
  margin-top: 20px;
  padding: 5px;
}
footer {
  background: #222;
  margin-top: 50px;
  padding-top: 10px;
  color: #eeeeee;
}
.title {
  font-family: 'Lobster', cursive;
}
